@import "./config.scss";
@import "./animation.scss";

.clearfix::after {
	clear: both;
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
}

.rel {
	position: relative;
	z-index: 3;
}

.none {
	display: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.pd-24 {
	padding: $space-24;
}

.pointer {
	cursor: pointer;
}

/************** margin ************/
.m-t-20 {
	margin-top: $space-20;
}
.m-b-20 {
	margin-bottom: $space-20;
}
.m-l-20 {
	margin-left: $space-20;
}
.m-r-20 {
	margin-right: $space-20;
}


.m-b-40 {
	margin-bottom: $space-40;
}

.m-t-10 {
	margin-top: $space-10;
}
.m-b-10 {
	margin-bottom: $space-10;
}
.m-l-10 {
	margin-left: $space-10;
}
.m-r-10 {
	margin-right: $space-10;
}

.m-l-5 {
	margin-left: $space-5;
}
.m-r-5 {
	margin-right: $space-5;
}

/************** text ************/
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.webkit-box {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
}

.flex1 {
	-webkit-flex: 1;
	flex: 1;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}

.flex-center {
	align-items: center;
	justify-content: center;
}

.flex-left {
	align-items: center;
	justify-content: left;
}

.flex-right {
	align-items: center;
	justify-content: right;
}

.flex-column {
	display: flex;
    flex-flow: column;
}

.link-bg {
	cursor: pointer;
    transition: all .5s;
	&:hover {
		background: $c-bg-light;
	}
}
.link-color {
	cursor: pointer;
    transition: all .5s;
	color: $c-grey;
	&:hover {
		color: $c-333;
	}
}

// 快捷, 行高1.2倍
.size-12 {
    font-size: $size-12;
    line-height: 14px;
}
.size-14 {
    font-size: $size-14;
    line-height: 17px;
}
.size-16 {
    font-size: $size-16;
    line-height: 19px;
}
.size-18 {
    font-size: $size-18;
    line-height: 22px;
}

.c-fff {
    color: $c-fff;
}
.c-light-grey {
    color: $c-light-grey;
}
.c-grey {
    color: $c-grey;
}
.c-333 {
    color: $c-333;
}
.c-blue {
    color: $c-blue;
}

#__nuxt,
#__layout,
.wrapper {
	height: 100%;
}
