.clearfix::after {
  clear: both;
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
}

.rel {
  position: relative;
  z-index: 3;
}
.none {
  display: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.w-100 {
  width: 100%;
}


.m-b-10 {
  margin-bottom: 10px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-40 {
  margin-bottom: 40px;
}

.m-l-10 {
  margin-left: 10px;
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.inline-block{
  display: inline-block;
}

.block{
  display: block;
}

.webkit-box {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

.flex1 {
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-left {
  align-items: center;
  justify-content: left;
}

#__nuxt, #__layout, .wrapper{
  height: 100%;
}