// 字号配置
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;

// 颜色配置
$c-bg: #f0f2f5;
$c-bg-light: #f8f9fb;
$c-bg-drak: #001529;

$c-fff: #fff;
$c-f0: #f0f0f0;
$c-light-grey: #c0c4cc;
$c-grey: #888;
$c-333: #333;
$c-222: #20242d;
$c-black: #000000;

$c-red: #ff4d4f;
$c-blue: #5d71ea;
$c-green: #52c41a;

$space-5: 5px;
$space-10: 10px;
$space-20: 20px;
$space-24: 24px;
$space-40: 40px;

$radius-2: 2px;
$radius-10: 10px;
