body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
img,
div,
dl,
dt,
dd,
input,
button {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-family: PingFang-Regular;
}

img {
    border: none;
}

li {
    list-style: none;
}

input,
select,
textarea {
    outline: none;
    border: 0;
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

input[type="button"],
input[type="submit"],
input[type="file"],
button {
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

.clearfix {
    zoom: 1;
}

html,
body,
#app {
    height: 100%;
}
